@font-face {
    font-family: 'Triod';
    src: url('fonts/TriodPostnaja.ttf') format('woff2'), /* Формат WOFF2 */
         url('fonts/TriodPostnaja.ttf') format('woff'); /* Формат WOFF */

    font-weight: normal;
    font-style: normal;
}
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Triod', sans-serif;
}

#gameArea {
    position: relative;
    width: 100%;
    height: 100vh;
}

#backgroundImage {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#stoveArea {
    position: absolute;
    top: 400px; /* Adjust based on your background image */
    left: 760px; /* Adjust based on your background image */
    width: 300px;
    height: 200px;
    /*border: 2px dashed #333;*/
    z-index: 10;
}


#scoreCounter {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 10px;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}

.scoreImageClass {
    width: 160px; /* Your desired width */
    /* Other styles to make it look good in your game */
}
#scoreText {
    position: absolute;
    top: 57%; /* adjust if necessary */
    left: 50%; /* adjust if necessary */
    transform: translate(-55%, -55%);
    z-index: 10; /* Ensure it's above the image */
    color: aliceblue;
    /* Your styles for the score text */
}

.baba-yaga-image {
    position: absolute;
    top: -1.2vh;
    left: -1.2vw;
    width: 200px; /* Уменьшаем размер изображения Бабы Яги */
    height: auto;
    z-index: 2;
}


.baba-yaga-image img {
    width: 100px;
}


#notification {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    color: #333;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 101;
}
.success, .failure {
    padding: 10px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    display: block;
    background-color: #fff;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.057);
    z-index: 1000;
}
.hidden {
    display: none;
}

.notification-visible {
    display: block;
}

h1 {
    font-size: 18px;
    color: #000000c1;
    font-family: 'Triod', sans-serif;
    position: absolute;
    top: 14vh;
    left: 11vw;
    z-index: 3;
}


#baba-yaga-image1{
    width: 160%;
}

.hidden{
    display: none;
}

#helpButton {
    position: absolute;
    bottom: 0.5vh;
    left: 0vw;
}
#helpButton1 {
    position: absolute;
    bottom: 0.5vh;
    right: 0vw;
}

.buttons a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent; /* Убираем фоновый цвет */
    color: #141414;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
    transition: transform 0.2s; /* Добавляем анимацию при наведении */
    position: relative; /* Добавляем относительное позиционирование */
}

.buttons img {
    vertical-align: middle;
    margin-right: 5px;
    width: 180px; /* Устанавливаем ширину изображения */
    height: auto; /* Сохраняем пропорции */
}

.buttons a:hover {
    transform: scale(1.05); /* Увеличиваем кнопку при наведении */
}

.buttons a span {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-family: 'Triod', sans-serif; /* Используем шрифт Roboto */
}


.beresta{
    width: 600px;
    height: 180px;
    position: absolute;
    top: 7vh;
    left: 4vw;
    z-index: 1;
}

.hidden{
    display: none;
}


/* Styles for the score image */
#score {
    color: #fff;
    background-image: url('img/apple.png');
    background-size: cover;
    padding: 10px; /* Adjust as needed */
    border-radius: 50%;
}


#charactersArea {
    position: absolute;
    width: 100%;
    top: 10%;
    left: 0%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-around;
}

.dropArea {
    position: fixed;
    width: 20%;
    height: 100%;
    top: 0;
    bottom: 0;
    z-index: 1;
}

#leftArea {
    left: 0;
    z-index: 0;
    width: 40%;
}

#rightArea {
    right: 0;
    z-index: 0;
    width: 40%;
}


.character {
    position: absolute;
    width: 225px;
    top: -9vh;
    left: 44%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.452);
    z-index: 5;
}

#leftArea  .character {
    right: auto;
    left: 5%; /* Отступ от левого края */
    top: 50%;
}

#rightArea .character {
    left: auto;
    right: 5%; /* Отступ от правого края */
    top: 50%;
}
.character-input {
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 11;
}
.character-container {
    margin-right: 20px; /* Отступ между персонажами */
}

.character-input {
    margin-top: 17vh; /* Отступ сверху для поля ввода */
    margin-left: 0.5vw;
    width: 150px;
    height: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(4, 4, 4, 0.538);
    color: white; 
    text-align: center;
    z-index: 10;
}
.left-area-column {
    float: left;
    width: 50%; /* Разделение на две колонки */
}

.right-area-column {
    float: left;
    width: 50%; /* Разделение на две колонки */
}

.left-area-column img,
.right-area-column img {
    max-width: 80px; /* Максимальная ширина изображения */
    margin: 5px; /* Отступ между изображениями */
}
